body {
  margin: 0;
  padding: 0px;
  background-color: black;
}
* {
  font-family: "Manrope", sans-serif;
  cursor: default;
}

.box {
  display: flex;
  flex-direction: column;
  width: 23%;
  justify-content: center;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
}

h1{
  color: white;
  font-weight: lighter;
  font-size: 2rem;
}
#boldit{
  color: white;
  font-weight: bold;
}

.topBar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.task-modal {
  background-color: rgba(0, 0, 0, 0.367);
  backdrop-filter: blur(2px);
  height:200vh;
  width: 100vw;
  position:fixed;
  top:-270px;
  left: 0;
  display: none;
}
.single-task-modal {
  background-color: black;
  /* backdrop-filter: blur(2px); */
  position: fixed;
  height: 125vh;
  width: 100vw;
  top:0;
  left: 0;
  display: none;
}

#item-input{
  height: 15%;
  border-radius: 4px;
  text-align: center;
}
#task-input{
  height: 15%;
  border-radius: 4px;
  text-align: center;
}
#task-submit{
  /* display: inline; */
  border-radius: 10px;
  margin: 5px;
  width: 75px;
  background-color: #dec6c6;
  /* font-size: 18px; */
  padding: 5px 10px;
  border: 2px solid red;
}
#item-submit{
  /* display: inline; */
  border-radius: 10px;
  margin: 5px;
  width: 75px;
  background-color: #dec6c6;
  /* font-size: 18px; */
  padding: 5px 10px;
  border: 2px solid red;
}
#modal-close{
  width: 75px;
  /* display: inline; */
  border-radius: 10px;
  margin: 5px;
  background-color: #dec6c6;
  /* font-size: 18px; */
  padding: 5px 10px;
  border: 2px solid red;
}
#parker{
  display: flex;
  justify-content: center;
  /* margin-top: 5px; */
  align-items: center;
}

.item-modal {
  background-color: rgba(0, 0, 0, 0.367);
  backdrop-filter: blur(2px);
  position:fixed;
  height: 200vh;
  width: 100vw;
  top: -270px;
  left: 0;
  display: none;
  
}

.add-option {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
}

.taskContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.taskCard {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 220px;
  min-height: 330px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.taskTitle {
  color: firebrick;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid 5px red;
}
li{
  list-style: none;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
}
.plus-icon{
  /* display: block; */
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}
.bin-icon{
  width: 30px;
  height: 30px;
  margin: 0px 5px;
  
}
.markBtn{
  display: inline;
  color: white;
  background-color: blue;
  border-radius: 8px;
  padding: 2px;
  margin-left: 8px;

}

#box{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cheit{
  color: white;
  font-weight: bold;
  font-size: 26px;
  margin: 0px 340px;
}
button{
  border: none;
  background-color: black;
}
@media screen and (min-width:250px) and (max-width:500px){
  .box{
    position: fixed;
    width: 250px;
   margin-top: 100px;
  }
  .cheit{
   margin: 10px 35px;
  }
}
@media screen and (min-width:500px) and (max-width:1000px){
  .box{
    position: fixed;
    width: 250px;
    margin-top: 100px;
  }
  .cheit{
    margin: 10px 70px;
   }
}
@media screen and (min-width:1000px) and (max-width:1500px){
  .box{
    margin-top: 175px;
  }
  .cheit{
    margin: 10px 320px;
   }
}
